*,
::before,
::after {
  box-sizing: border-box;
}

.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.header > .header__heading-link,
.header > .header__heading {
  grid-column: 2;
  text-align: center;
}

.header__heading-link {
  display: block;
  box-sizing: border-box;
  margin: 0 !important;
}

.header__inline-menu {
  grid-column: 1;
}

.header__search {
  display: none !important;
}
